.business{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0;
}

.business *{
    margin: 0;
    padding: 0;
}
.businessImage img{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.businessName{
    font-weight: 600;
    text-align: left;
    margin: .4rem;
}

.businessInfo{
    display: flex;
    justify-content: space-between;
}

.businessAddress{
    text-align: left;
    width: 48%;
    margin: .2rem;
}

.businessDetails{
    text-align: right;
    width: 48%;
    margin: .2rem;
}

.businessCategory{
    text-transform: uppercase;
    color: rgb(210, 170, 78);
}

.businessRating{
    color: rgb(210, 170, 78);
}